/* CSS Document */

.cart1{
	padding-left: 540px; 
}
.cart2{
	margin-left: -50px;
}

#cartkoside{
	margin-left: -150px;
	margin-top: 50px;
}
.cartf{
	padding: 10px;
}

#buynm{
	margin-top: -40px;
}

#crtrt{
	margin-left: 570px;
}