
 <div class="container">
			<div class="row">
				<div class="col-md-12">



<p id="myct_top"><strong>CUSTOMER CARE</strong></p>
<p class="myct_disc">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>


<hr width="85%" color="black">
<div align="left" id="cnt_left">
	<p>Have any questions or concerns? </p>
	<p class="abc_ct">We’re always ready to help!</p>
	<br>
	<strong><p id="abc_ct1">CALL US AT</p></strong>
	<p class="abc_ct2">123-456-7890</p>

	<p id="abc_ct3">or send us an email to:</p>

<p id="abc_ct4">info@mysite.com</p>
</div>


<div align="right" id="ct_rt_1">

<form action="#">
	<input type="text" placeholder="Name" size="30px" class="to_sp" required><br>
	<input type="email" placeholder="Email" size="30px" class="to_sp"  required><br>
	<input type="text" placeholder="Subject" size="30px" class="to_sp" required><br>
	<input type="text" placeholder="Message" size="30px" id="higt" required class="to_sp"><br>
	<input type="submit" Value="Send">
	</form>
</div>
<hr width="85%" color="black"> 


<div align="center">
	<p class="ret_wli"><strong>RETURNS</strong></p>
	<p class="myct_disc1">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
</div>

<hr width="85%" color="black"> 


			<div>
				<p id="ret_wli"><strong>FAQ</strong></p>
				
				
	<div align="left" id="faq_wli">
		<p class="upr_wli_ct">Do you provide International delivery?</p>
			<p class="neeche_wli">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
			<br>
		<p class="upr_wli_ct">How do I return an item?</p>	
		<p class="neeche_wli">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>	
		<br>
		<p class="upr_wli_ct">What is your returns policy?</p>	
		<p class="neeche_wli">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>		
			
				</div>
				
	<div id="qwerty"> 
			<p class="upr_wli_ct">How do I track my order?</p>	
		<p class="neeche_wli">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font. I’m a great place for you to tell a story and let your users know a little more about you.</p>
		<br>
		<p class="upr_wli_ct">How can I contact your couriers?</p>	
		<p class="neeche_wli">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
		<br>
		<p class="upr_wli_ct">What are your delivery options?</p>	
		<p class="neeche_wli">I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me to add your own content and make changes to the font.</p>
		</div>	
				
				
			</div>
			
			
			
				</div>
	 </div>
</div>