<!--footer-->
	
	
	<footer>
	<div class="container" ng-controller="footer">
		<div class="row">
			<div class="col-md-12">
				
	<div align="left"  id="myleft">
	<p id="f1">STAY CONNECTED</p>	
		<br>
		<a href="http://facebook.com" ><img src="img/footer/facebook.png" alt="facebook"></a>
		<a href="http://twitter.com" ><img src="img/footer/twitter.png" alt="facebook"></a>
		<a href="http://instagram.com/goel_ankit.09" ><img src="img/footer/instagram.png" alt="facebook"></a>
		<a href="http://pinterest.com"><img src="img/footer/pinterest.png" alt="facebook"></a>
				</div>
		
		<div align="center" id="mycenter">

		<p id="f2">BE OUR FRIEND</p>
		<form name="form" ng-submit="toggle()">
			<input type="email" placeholder="Email Address" id="div3" name="emailname" required>
			<br>
			<input type="submit" value="SUSCRIBE NOW" id="div4">
			<br>
			</form>
			
			<div ng-show="myVar">
				<p id="dsp_msg">Thanks For Suscribing </p>
				
			<p  id="dsp_msg1">We Will Send news to your Inbox</p>
			</div>
			<p id="div5">© 2018 by DREAMLAND. Proudly created by ANKIT</p>
		</div>
	
		<div align="right" id="myright">
		<p id="div6">NEED ASSITANCE</p>
		<span class="color_11">123-456-7890</span>
		</div>
		</div>
		</div>
	</div>
	</footer>